{% extends "base.html" %}

{% block title %} Resultado de busqueda de articulos{% endblock %}

{% block content %} 
<p>Estas buscando: <strong>{{query}}</strong></p>


    <p>Articulos encontrados:{{articulos|length}} articulos</p>

    <ul>

        {% for articulo in articulos %}
            <li>
                {{articulo.nombre}} -- ${{articulo.precio}}
                <a class="btn btn danger" href="{% url 'eliminar_articulo' articulo.id %}">Eliminar</a>
                <a class="btn btn danger" href="{% url 'editar_articulo' articulo.id %}">Editar</a>


            </li>
            
        {% endfor %}
    </ul>

    <p style="color:red">{{mensaje}}</p>
    
{% endblock %}