{% extends "base.html" %}

{% block title %} Usuario creado{% endblock %}

{% block content %} 
<body>
    <p style="text-align: center; color: black; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: large;"><strong>USUARIO CREADO CON EXITO!</strong><img src= "https://th.bing.com/th/id/R.2f8f1c17bfa18e075156a972023fdbbe?rik=gAlodKWeKsWRYg&riu=http%3a%2f%2fvignette2.wikia.nocookie.net%2fhoradeaventura%2fimages%2f5%2f54%2fHomer_yuju.png%2frevision%2flatest%3fcb%3d20130726094928%26path-prefix%3des&ehk=ywVVfLtpj3X1665Fv9dlR%2bIermJgGuqUAX8Fb5zS3ZA%3d&risl=&pid=ImgRaw&r=0" height="100px"></p>
    
</body>
</html>
{% endblock %}